<form action="" method="post" role="form">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="form-group">
          <input type="text" id="submitMessageName" name="name" class="form-control" id="name" placeholder="Your Name" required>
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <div class="form-group">
          <input type="email" class="form-control" id="submitMessageEmail" name="email" id="email" placeholder="Your Email" required>
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <div class="form-group">
          <input type="text" class="form-control" id="submitMessageSubject" name="subject" id="subject" placeholder="Subject" required>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <textarea class="form-control" name="message" id="submitMessageMessage" rows="5" placeholder="Message" required></textarea>
        </div>
      </div>
      <div class="col-md-12 text-center mt-2">
        <button type="submit" id="submitMessage" class="button button-a button-big button-rouded">Send Message</button>
      </div>
    </div>
  </form>

